<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>701520321896-sc4tolvpcajno6c33ai143br1gs3tee2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701520321896-sc4tolvpcajno6c33ai143br1gs3tee2</string>
	<key>API_KEY</key>
	<string>AIzaSyDk_ZEVENDH4gFgS0ZTOg0PPa7YnV2-ZkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>701520321896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chhaileng.FirebaseFileStorage</string>
	<key>PROJECT_ID</key>
	<string>mystoragedemo-cea5e</string>
	<key>STORAGE_BUCKET</key>
	<string>mystoragedemo-cea5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701520321896:ios:78bdf3baede6896c</string>
	<key>DATABASE_URL</key>
	<string>https://mystoragedemo-cea5e.firebaseio.com</string>
</dict>
</plist>